<!DOCTYPE html> 
<html lang="en"> 
<head> 

<title>Example</title> 

</head> 
 
<body> 
<h1>Data was cleaned-up from Redis</h1>

<p><a href="/">Create other records?</a>
</body> 
</html> 
 
